@model LibApp_Gr3.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>SignUpFee:  @Model.MembershipType.SignUpFee</li>
    <li>Newsletter Subscribed: @Model.HasNewsletterSubscribed.ToString()</li>
</ul>
<button class='btn btn-secondary' data-customer-id="@Model.Id">Edit</button>